<% content_for :head do %>
  <!-- 📦 Adds importmap with CKEditor 5 assets. -->
  <!-- 🌍 It'll automatically use your `I18n.locale` language. -->
  <%= ckeditor5_assets %>
<% end %>
<div class="container mt-5">
  <% if flash.any? %>
  <% flash.each do |type, message| %>
    <div class="alert <%= alert_class_for(type) %> alert-dismissible fade show" role="alert">
      <%= message %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>
  <% end %>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow">
        <div class="card-body">
          <% if @readme_content.present? %>
            <%= markdown(@readme_content) %>
          <% else %>
            <p class="text-center">README.md não encontrado.</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <%= ckeditor5_editor %>
</div>